@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;

}

body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}

.modal-container{
    position: fixed;
    background-color: #FFF9F3;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 600px;
    border-radius: 1em;
    max-width: 100%;
    height: 600px;
    z-index: 10;

}

.modal-header{
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}
.title{
    font-family: 'Miniver', cursive;
    text-decoration-line: underline;
    font-size: 2.3em;
    margin: 0 .5em;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2em;
    font-weight: 600;
}

.modal-body{
    padding: 0 2.1em;
}

.form-box{
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 1em;

}

.form-box label{
    font-family: 'Miniver', cursive;
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: .3em;
    
}

.form-box input{
    display: block;
    border: 1px solid #a1a1a1 !important;
    border-radius: .4em;
    height: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #989898;
    background-color: #ffffff;
    box-shadow: none !important;
    width: 100%;
    padding: .5em;
    
}

.form-box.success input{
    border-color:rgb(7, 221, 0);
}

.form-box.error input{
    border-color: crimson;
}

.form-box i{
    visibility: hidden;
    position: absolute;
    top: 2.8em;
    right: .8em;
}

.form-box.success i.fa-circle-check{
    color:rgb(7, 221, 0);
    visibility: visible;
}
.form-box.error i.fa-circle-exclamation{
    color:crimson;
    visibility: visible;
}

.form-box small{
    visibility: hidden;
    position: absolute;
    bottom:0;
    left: 0;
}
.form-box.error small{
    color:crimson;
    visibility: visible;
}


.form-box i{
    visibility: hidden;
    position: absolute;
    top: 2.8em;
    right: .8em;
}

.form-box small{
    visibility: hidden;
    position: absolute;
    bottom:0;
    left: 0;
}

.form-btn{
    display: block;
    width: 100%;
    height: 2em;
    background-color: #FF8818;
    color: #ffffff;
    border: 1px solid #FF8818 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: .3em;
    box-shadow: none !important;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    visibility: 1;
    pointer-events: all;
}