@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  min-width: fit-content;
  background-image:url(/assets/img/marble.jfif);
  visibility: 50%;
  scroll-behavior: smooth;
}

.recipe-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    margin-top: 1em;
}
.food-img{
    margin-top: .5em;
    margin-left: 5em;
    width: 35%;
    height: 53em;
}
.text-container{
    width: 40%;
}

.title-recipe{
    font-family: 'Miniver', cursive;
    font-size: 3em;
    color: #C02E2E;
    margin-left: 5.5em;
}
.ingredients-title, .instructions-title {
    font-family: 'Miniver', cursive;
    font-size: 2em;
    color: #505050;
    margin-bottom: 1.5em;
}
.ingredients-list{
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 100px;
align-items: right;
font-family: "Montserrat", sans-serif;
color:#757575
}
.each-ing{
    margin-bottom: .5em;
    list-style: square;

}
.instructions-title{
    margin-top: 1em;
}
.instructions-description{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}