@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}


.slider-container {
    height:100%;
    width: 27%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow-x: hidden;
    background-color: #02D8D8;
    font-family: 'Miniver', cursive;
    align-items: center;
    transition: 1s;

}

.logo-container {
    width: 100%;
    display:inline-block;
    align-items: left;
    margin: 2em;
    padding-left: 12em;
    cursor: pointer;

}
.exit {
    color: azure;
    width: 1.5em;
    height: 1.5em;
}

.slider-title {
    color: azure;
    font-size: 1.8em;
    text-decoration-line: underline;
    margin-bottom: 2em;
}

ul .slider-opts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;


}

.slider-container a {
    text-decoration: none;
    list-style: none;
    color: azure;
    font-size: 1.5em;
    margin: 1em 1em;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: azure;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: azure;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }